article {
  display: grid;
  grid-template-columns: 1fr 45px [start] 135px 3fr 135px [end] 45px 1fr;
  padding-top: calc(16px + 8vh);
  font-family: "Open Sans", sans-serif;
  word-wrap: break-word;
  font: 400 18px "Open Sans";
}

article * {
  grid-column: start/end;
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 30px;
  margin-top: 1em;
}

.size-1 {
  grid-column: 4/5;
}
.size-2 {
  grid-column: 3/6;
}
.size-3 {
  grid-column: 2/7;
}
.banner {
  grid-column: 1/8;
  width: 100%;
  height: 95vh;
  object-fit: cover;
  padding-bottom: 4rem;
}

img.size-1,
img.size-2,
img.size-3,
img.size-4 {
  width: 100%;
}

.table-of-contents {
  grid-column: 4/5;

  padding: 20px;
  padding-left: 30px;
  font-size: 0.9em;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2em;

  border-radius: 0.7em;
}

@media (max-width: 900px) {
  article {
    grid-template-columns: 1fr 7.5% [start] 12.5% 9fr 12.5% [end] 7.5% 1fr;
    font-size: 15px;
  }
  .banner {
    grid-column: 2/7;
    height: auto;
    object-fit: contain;
    padding-bottom: 2rem;
  }
  .table-of-contents {
    grid-column: start/end;
  }
}

.table-of-contents h3 {
  margin-bottom: 0.7em;
}

.table-of-contents ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

article pre {
  grid-column: 3/6;
}

article code {
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 0.8em;
}

pre code::-webkit-scrollbar {
  height: 15px;
}

pre code::-webkit-scrollbar-thumb {
  background: #ffffffcc;
  border-radius: 7.5px;
  border-color: #011627;
  border-width: 5px;
  border-style: solid;
}

article h1 {
  font: 400 2.53em/1.2 "Open Sans";
  color: rgba(41, 41, 41, 1);
  padding-top: 1.92rem;
  z-index: 1;
}

/*article h2      { font: 400 30px/1.2 "Open Sans"; color: rgba(41, 41, 41, 1); padding-bottom: 1rem; padding-top:1.5rem;}*/
/*article h3      { font: 700 24px/1.2 "Open Sans"; color: rgba(41, 41, 41, 1); padding-bottom: 1rem; padding-top:1.3rem;}*/
/*article h4      { font: 700 17px/1.2 "Open Sans"; color: rgba(41, 41, 41, 1); padding-bottom: 0.8rem;}*/
/*article p       { font: 400 19px/1.5 "Open Sans"; word-wrap:break-word; color: rgba(41, 41, 41, 1); padding-bottom: 2rem;}*/

article h2 {
  font: 400 1.58em/1.2 "Open Sans";
  color: rgba(41, 41, 41, 1);
  padding-bottom: 1rem;
  padding-top: 6.1rem;
  margin-top: -4rem;
  z-index: 1;
}
article h3 {
  font: 700 1.16em/1.2 "Open Sans";
  color: rgba(41, 41, 41, 1);
  padding-bottom: 1rem;
  padding-top: 5.7rem;
  margin-top: -4rem;
  z-index: 1;
}
article h4 {
  font: 700 0.89em/1.2 "Open Sans";
  color: rgba(41, 41, 41, 1);
  padding-bottom: 0.8rem;
  z-index: 1;
}
article p {
  font: 400 1em/1.5 "Open Sans";
  word-wrap: break-word;
  color: rgba(41, 41, 41, 1);
  padding-bottom: 2rem;
  z-index: 5;
}

.metadata p {
  padding-bottom: 0;
  font: 400 0.8em/1.5 "Open Sans";
  opacity: 0.5;
  margin-right: 2em;
}

.metadata i {
  font-size: 0.75em;
  opacity: 0.3;
  margin-right: 0.8em;
  margin-left: 0.4em;
}

.metadata .seperator {
  margin: 0px 5px 0px 5px;
}

.subtitle {
  color: rgba(117, 117, 117, 1);
  font: 400 1.16em/1.2 "Open Sans";
  margin-top: 0.92em;
}

.wrapping {
  white-space: pre-wrap;
}

.kaynakca-baslik {
  margin-top: 3.5em;
}

.kaynakca-liste {
  margin-top: 0.92em;
}

.kaynakca-liste li {
  margin-bottom: 0;
}

.beyan {
  color: rgba(117, 117, 117, 1);
  margin-top: 0.92em;
  font: 400 0.89em/1.2 "Open Sans";
}

article ul {
  margin-left: 1.58em;
  margin-top: calc(-0.5 * 19px);
  margin-bottom: calc(2 * 19px);
}

ul li {
  margin-bottom: 1em;
}

ul p {
  font-size: 0.9em;
  opacity: 0.9;
}

article ol {
  margin-left: 1.58em;
  margin-top: calc(-0.5 * 19px);
  margin-bottom: calc(2 * 19px);
}

ol li {
  margin-bottom: 1em;
}

ol p {
  font-size: 0.9em;
  opacity: 0.9;
}

article a {
  color: rgba(41, 41, 41, 1);
  text-decoration: none;
  font: 400 0.95em/1.5 "Open Sans";
  box-shadow: inset 0 -0.1em black;
}

.desktop-frame {
  grid-column: 7/8;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 80px;
  position: sticky;
  top: 12vh;
  margin-left: 55px;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0001, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  border-radius: 7px;
}

.btn {
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0001, 4px 4px 5px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  font-size: 16px;
  color: rgba(42, 52, 84, 1);
  text-decoration: none;
}

.btn:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}

@media (max-width: 1220px) {
  .desktop-frame {
    margin-left: 1vw;
  }
}

.mobile-share {
  display: none;
  position: fixed;
  right: 28px;
  bottom: 38px;
  height: 270px;
  width: 52px;
  justify-content: space-around;
  align-items: center;
}

.mobile-share a {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.1s ease-in;
  opacity: 1;
}

.mobile-share .commander {
  background: #1f2022;
}

.mobile-share .open {
  background: rgb(216, 216, 216);
}

.mobile-share .minion i {
  color: white;
}

.mobile-share .commander i {
  color: white;
}

.mobile-share .open i {
  color: rgb(125, 125, 125);
}

.mobile-share .hidden {
  visibility: hidden;
  opacity: 0;
}

.mobile-share:hover a {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 990px) {
  .desktop-frame {
    display: none;
  }

  .mobile-share {
    display: flex;
    flex-direction: column;
  }
}
