.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  padding-top: calc(16px + 8vh);
  padding-bottom: 20px;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  

  .item-1 {
    grid-column: 1/ span 2;
  }

  .item-1 p {
      display: none;
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  border-radius: 5px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.calculator-card {
  text-decoration: none;
  color: #444;
  display: flex;
  flex-direction: column;
    overflow: hidden;
  justify-content: space-around;
  align-items: center;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 767px) {
    .calculator-card {
        min-height: 32em;
    }
}

.calculator-card > * {
    z-index: 4;
}

.calculator-card img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: blur(2px);
    overflow: hidden;
}

.calculator-card:hover > img{
    transition: all 0.5s ease;
    filter: none;
}

.calculator-card .overlay {
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(to right, #c79081, #dfa579);*/
    /*background-image: linear-gradient(to right, #09203f ,  #537895);*/
    /*background-image: linear-gradient(to right, #29323c,   #485563);*/
    /*background-image: linear-gradient(to right, #0d324d,   #7f5a83);*/
    background-image: linear-gradient(to top, #000000,   #651FFF);
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    mix-blend-mode: hard-light;
}

.calculator-card .overlay-newsletter {
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(to right, #c79081, #dfa579);*/
    /*background-image: linear-gradient(to right, #09203f ,  #537895);*/
    /*background-image: linear-gradient(to right, #29323c,   #485563);*/
    /*background-image: linear-gradient(to right, #0d324d,   #7f5a83);*/
    background-image: linear-gradient(to top right, #000000,   #f9ae81);
    /*background-image: radial-gradient(#000000,   #f9ae81);*/
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    mix-blend-mode: hard-light;
}

.calculator-card .overlay-dark {
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.58;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: block;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
}

.calculator-card article {
    padding: 20px;
}
 
/* typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
  font: 700 20px/1.5 "Open Sans";
}

/* typography */
.calculator-card h2 {
  font-size: 18px;
  margin: 0.5em 0 0.5em;
  color: white;
  font: 700 20px/1.5 "Open Sans";
  letter-spacing: 1px;
}

 
.card p { 
    padding-top: 1rem;
  font: 400 17px/1.5 "Open Sans";
  color: rgba(41, 41, 41, 0.8);
}

.card .desc {
    min-height: 7.5em;
}

.calculator-card p {
    padding-top: 1rem;
  margin: 1em 0.5em 0 0.5em;
  font: 400 17px/1.5 "Open Sans";
  color: #eee;
}
 
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}

.metadata {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 1em;
    z-index: 99;
}



.metadata .seperator {
    margin: 0px 5px 0px 5px;
}


.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}

.calculator-card .thumb {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.card article {
  padding: 20px;
  flex: 1;
   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card p { 
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}
.metadata p {
    padding-bottom: 0;
    padding-top: 0;
    font: 400 0.8em/1.5 "Open Sans";
    flex: auto;
    color: #292929;
    opacity: 0.5;
    display: inline-block;
}

.metadata i {
    opacity: 0.8;
    margin-right: 0.6em;
    margin-left: 0.4em;
}

.metadata .date {
    text-align: left;
}
.metadata .duration {
    text-align: right;
}

.calculator-card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
}

.calculator-card button {
    height: 3.75em;
    /*width: 13.5em;*/
    width: 65%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    border: solid white 2px;
    /*background: transparent;*/
    background: rgba(0,0,0,0.3);
    background-image:none;
    color: white;
    border-radius: 0.1em;
    box-shadow: none;
    font: 700 1em/1.5 "Open Sans";
    letter-spacing: 1.4px;
}

.calculator-card button:hover {
    cursor: pointer;
}
