.basic-footer {
  padding:40px 0;
  background-color:none;
  color:#4b4c4d;
  margin-top: auto;
  font-family: 'Noto Sans JP', sans-serif;
}


.basic-footer .social {
  text-align:center;
  padding-bottom:25px;
}

.basic-footer .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:37px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.basic-footer .social > a:hover {
  opacity:0.9;
}

.basic-footer .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
  padding-bottom: 0;
  text-decoration: none;
  cursor: default;
}

.basic-footer .copyright-link{
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
  padding-bottom: 0;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}

.basic-footer .copyright-link:visited {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
  padding-bottom: 0;
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
}
