.size-1 { grid-column: 4/5; }
.size-2 { grid-column: 3/6; }
.size-3 { grid-column: 2/7; }
.banner-broad { grid-column: 1/8; width:100%; height:95vh; object-fit:cover; padding-bottom: 4rem;}
.banner-slim { width:100%; height:60vh; object-fit:cover; padding-bottom: 2rem;}

img.size-1, img.size-2, img.size-3, img.banner-broad, img.banner-slim { width: 100%; }
